@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*Define una serie de variables de CSS personalizadas*/
:root {
    --blue1: #76ccf4;
    --purple1: #400351;
    --beige: #fbf7f7;
    --blue3: #011d2a;
    --pink1: #f2c0ee;
    /*Definición de sombra con desplazamiento y enfoque*/

    /*arriba, derecha, izquierda y abajo y el último valor siempre hará referencia al difuminado*/
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}

/*Selector Universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    /*Esta propiedad se encarga de ocultar los elementos*/
    overflow: hidden;
    padding: 100px 0;
    height: auto;
}

.container--modifier {
    width: 60%;
}

.hero {
    width: 100%;
    /*Altura minima del dispositivo*/
    min-height: 100vh;
    /*Establecer un fondo con un degradado lineal
    
    linear-gradient(180deg) se encarga de crear un degradado lineal horizontal de izquierda a derecha
    
    */
    background: linear-gradient(180deg, var(--pink1) 0%, var(--blue3) 100%);
}

.title{
    color: var(--pink1);
    font-size: xx-large;
}
.copy{
    Color:var(--beige);
    font-size:x-large;
}
.copy__active{
    color: var(--purple1);
}

.cta{
color: var(--beige);
font-size:larger;
}

.position_img{
    color: var(--beige);
    font-size:larger;
}

.nav__hero {
    height: 70px;
    border-bottom: 1px solid rgb(245, 199, 247);
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}

.logo__name {
    font-size: 24px;
    color: var(--blue3)
}

.link {
    display: inline-block;
    color: var(--blue3);
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}

.link--active {
    color: var(--purple1);
    font-weight: 700;
}

.point {
    color: var(--purple1);
}

.hero__main {
    height: calc(100vh - 70px);
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 0;
}

.services{
    background: #fafafa;
}

.subtitle{
    font-size: 42px;
    align-items: center;
}

.subtitle--modifier{
    text-align: center;
}

.subtitle2{
    color: var(--purple1);
    font-size: 42px;
    align-items: center;
    margin-left: 350px;
}

.card__img2{
   display:flex;
   justify-content: center;
   margin-left: 450px;
}

.copy__section2{
    color: var(--blue3);
    font-size: 22px;
    line-height: 32px;
    margin-left: 500px;
    margin-bottom: 15px;
}

.copy__section{
    color: var(--purple1);
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}

.copy__section--modifier{
    text-align: center;
    margin-bottom: 32px;
}

.container-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: linear-gradient(180deg, var(--pink1) 0%, var(--blue3) 100%);
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    /* Aplica una sombra al elemento utilizando la propiedad box-shadow */
box-shadow: 0 0 6px var(--color_shadow);
/*
   - 0 0: Desplazamiento horizontal y vertical de la sombra, en este caso, no hay desplazamiento (sombra centrada).
   - 6px: Radio de difuminado de la sombra, creando un efecto suave en un área de 6 píxeles alrededor del elemento.
   - var(--color_shadow): Color de la sombra obtenido de la variable CSS --color_shadow.
*/

}

.card__img{
    width: 95%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}
.card__img2{
    width: 40%;
    height: 300px;
    right: 10px;
    border-radius: 1px;
    position: relative;
    margin-bottom: 6px;
}

.cards__text{
    text-align: left;
    width: 95%;
    margin:0 auto;
}

.card__list{
    color: var(--purple1);
    font-weight: 700;
    /* Establece márgenes en las direcciones superior, derecha, inferior e izquierda del elemento */
margin: 25px 0 12px;
/*
   - 25px: Margen superior de 25 píxeles.
   - 0: No se aplican márgenes en los lados derecho e izquierdo.
   - 12px: Margen inferior de 12 píxeles.
*/

    font-size: 18px;
}


.card__title{
    font-size: 40px;
    color: #fff;
    margin-bottom: 8px;
}

.card__copy{
    color: var(--beige);
    margin-bottom: 16px;
}

.card__button{
    display: block;
    background: linear-gradient(180deg, #f9ebfa 0%, #f7f8fa 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: var(--blue3);
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}

.card__date{
    color: var(--purple1);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.container-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.background{
    width: 68%;
    height: 290px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
}

.background__img1{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
    align-content: top;
}

.background__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.background__text{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 15px;
    color: #fff;
}

.background__title{
    font-size: 24px;
    margin-bottom: 4px;
}

.testimony{
    background: #fafafa;
}

.testimony-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
   /* Controla el comportamiento de envoltura de elementos en un contenedor flexible */
flex-wrap: wrap;
/*
   - wrap: Permite que los elementos flexibles se envuelvan en una nueva línea si no caben en el ancho del contenedor.
*/
}

.testimony__card{
    width: 20%;
    height: 200px;
    background: linear-gradient(180deg, var(--pink1) 0%, var(--blue3) 100%);
    border-radius: 30px;
    position: relative;
    margin-bottom: 10px;
    padding: 1px;
    margin: 5px;
}

.testimony__img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center top;
}

.testimony__copy{
    position: absolute;
    bottom: 2px;
    left: 5%;
    width: 90%;
    height: 25%;
    background: linear-gradient(180deg, var(--pink1) 0%, var(--blue3) 100%);
    color: #fff;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: var(--shadow) var(--color_shadow);
    padding: 5px 2px;
    display: flex;
    align-items: center;
}

.testimony__copy--modifier{
    background: none;
    box-shadow: none;
}

.testimony__logo{
    font-size: 20px;
    margin-right: 5px;
    display: inline-block;
}

.testimony__name{
    font-size: 14px;
    line-height:20px;
}

.testimony__position{
    color: var(--beige);
}

.testimony__text{
    padding: 10px 0;
    width: 28%;
    margin: 0 auto;
}

.google__logo{
    margin-bottom: 20px;
}


.testimony__history{
    font-size: 21px;
    font-weight: 300;
}


.testimony__info{
    width: 100%;
    margin-left: 5px;
    justify-content: left;
}

.logo--picture{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center top;
}

/* check */

.check{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}

.check__item{
    width: 30%;
    padding-right: 40px;
    display: flex;
    border-right: 2px solid var(--pink1);
}
.check__item2{
    width: 30%;
    padding-right: 10px;
    display: flex;

}

.bxs-music{
    background: linear-gradient(180deg, var(--pink1) 0%, var(--blue3) 100%);
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align:center;
    color: #fff;
    border-radius: 50%;
    font-size: 30px;
}

.check__number{
    font-weight: 700;
}

.check__copy{
    font-weight: 300;
    width: 100%;
}

.newsletter__input{
    width: 100%;
    height: 100%;
    padding: 22px 10px;
    outline: none;
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid var(--blue3)
}

.footer{
    background: #fafafa;
}

.footer__caption{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}


.title__footer{
    font-size: 24px;
    margin-bottom: 32px;
}

.download{
    width: 50%;
}

.download__app{
    display: flex;
}

.download__item{
    display: flex;
    padding: 18px 12px;
    border-radius: 6px;
    border: 1px solid var(--purple1);
    width: 42%;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 16px;
}

.download__logo{
    font-size: 40px;
    margin-right: 20px;
}

.download__title{
    font-size: 18px;
}

.footer__copy{
    width: 100%;
    color: var(--purple1);
    display: flex;
    flex-wrap: wrap;
}

.copyright{
    width: 100%;
}

.politica__privacidad{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.politica__privacidad:hover{
    text-decoration: underline;
}

.politica__privacidad--margin{
    margin-right: 10px;
}

.get-email{
    width: 50%;
}

.socialmedia{
    margin-top: 24px;
    display: flex;
    color: var(--purple1);
}

.socialmedia__icon{
    font-size: 18px;
    margin-right: 30px;
    display: inline-block;
}

.socialmedia__legend{
    color: var(--purple1);
    margin-right: 16px;
}

.contact{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: #fff;
}

.item__contact{
    width: 25%;
    padding: 60px 0;
    text-align: center;
    background: linear-gradient(180deg, var(--pink1) 0%, var(--blue3) 100%);

}


.item__contact--gold{
    background: linear-gradient(180deg, var(--pink1) 0%, var(--blue3) 100%);
    color: var(--blue3);
}

.contact__icon{
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    margin-right: 4px;
}

.contact__icon--modifier{
    color: #fff;
}

.contact__title{
    font-size: 17px;
    line-height: 20px;
    color: #fff;
}

@media screen and (max-width:900px){
    .mockup{
        width: 600px;
        height: auto;
    }

    .title{
        font-size: 50px;
    }

    .copy{
        font-size: 22px;
    }

    .cta{
        padding: 15px 22px;
    }

    .container-cards{
        justify-content: space-evenly;
    }

    .services .card{
        width: 45%;
    }

    .background{
        width: 52%;
    }

    .card{
        width: 42%;
    }

    .testimony-container{
        justify-content: space-evenly;
    }

    .testimony__card{
        width: 45%;
    }

    .check__item{
        width: 45%;
        margin-bottom: 35px;
    }

    .newsletter{
        width: 80%;
    }

    .download{
        width: 100%;
    }

    .download__app{
        justify-content: space-between;
    }

    .download__item{
        width: 45%;
    }

    .get-email{
        width: 100%;
        margin-bottom: 40px;
    }

    .socialmedia__icon{
        font-size: 18px;
    }

    .socialmedia__legend{
        font-size: 18px;
    }
}